@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&family=Lobster&family=Red+Hat+Mono:wght@300&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

/* NAVBAR */
.bgColor.scrolled {
  background: #003049;
  opacity: 1;
}

.logo {
  height: 100px;
  width: 100px;
}

.navbar-brand {
  font-weight: bold;
  font-family: "Jura", sans-serif;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background: #003049;
}

.navbar a {
  color: white;
}

.navbar ul a {
  margin-left: 30px;
  margin-right: 30px;
}

.navbar ul a:hover {
  color: darkcyan;
}

li a {
  font-weight: 700;
  text-transform: uppercase;
  color: black;
}

span.logo {
  color: #003049;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 30px;
}

span.estate {
  color: #003049;
  font-weight: bold;
}

/* FORM */
#house {
  height: 80vh ;
}

.form {
  background-color: #003049;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 100%;
}

.send {
  border: none;
  color: white;
  background-color: black;
  width: 70px;
}